.home {
  height: 100%;
  width: 100%;
}

.home-header {
  background-color: #f6e0b6;
  background-image: url(../../assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.home-link {
  display: block;
  text-decoration: none;
  color: white;
  transition-duration: 1.5s;
  border-radius: 0.5em;
  font-size: 6vw;
  width: 100%;
  text-align: center;
  margin: 0 0 2em 0;
}

.home-link:hover {
  background-color: #F6E0B6;
  color: black;
  border: 5px dashed rgb(255, 150, 150);
  width: 80%;
  border-right: none;
  border-left: none;
  text-align: center;
  border-radius: 0.3em;
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  .home-link {
    font-size: 10vw;
  }
}