.home {
  text-align: center;
}

.home-header {
  background-color: #f6e0b6;
  background-image: url(../../assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
  font-size: 10vh;
}

.home-link {
  position: absolute;
  top: 15vh;
  text-decoration: none;
  color: white;
  padding: 1%;
  transition-duration: 1.5s;
  border-radius: 0.5em;
  width: 50%;
}

.home-link:hover {
  background-color: rgb(100, 59, 100, 0.6);
  border: 5px dashed rgb(255, 150, 150);
  width: 80%;
  border-right: none;
  border-left: none;
  text-align: center;
  top: 20vh;
  border-radius: 0.3em;
}