.home {
  text-align: center;
}

.home-header {
  background-color: #f6e0b6;
  background-image: url(../../assets/images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
  font-size: 10vh;
}

.home-link {
  text-decoration: none;
  color: white;
  padding: 1%;
  transition-duration: 1.5s;
}

.home-link:hover {
  color: black;
  border: 10px dashed orangered;
  padding: 5%;
  border-radius: 0.5em;
}