.instructions {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* instructions text */
.instructions .instructions-text {
  visibility: hidden;
  display: none;  
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the instructions text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the instructions text when you mouse over the instructions container */
.instructions:hover .instructions-text {
  visibility: visible;
}