.school {
  width: 100%;
}

.school-title {
  color: orangered;
  font-size: 2em;
}

.school-title--red {
  color: red;
}

.school-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
